<p id="notice"><%= notice %></p>
<h1>Twitters</h1>
<%# <%= turbo_stream_from "twitters" %>
<div id='flash'>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  New Post
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render partial: 'twitters/form', locals:{twitter:Twitter.new} %>
    </div>
  </div>
</div>
<hr/>
<!-- Position it -->
<div id="toast_anchor" style="position: absolute; top: 0; right: 0;">
  <!-- Then put toasts within -->
</div>
<%= turbo_frame_tag "twitters" do %>
  <%= render @twitters %>
<% end %>
